* {
    font-family: "Roboto", sans-serif;


}

.item-center {
    display: flex;
    justify-content: center;
}

.banner {


    background-image: url(../Assets/Hero-bg.png);
    margin-bottom: 116px;

    height: 698px;
    width: 100%;


}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.btn-1 {
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;

}

.banner-content {

    width: 905px;
    height: 237px;
    text-align: center;
    margin: 158px auto;

}

.btn-2 {
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 37px;


}

.btn-3 {
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 37px;
    padding: 12px 36px;
}




.action {
    width: 1140px;
    height: 328px;

    margin-top: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}

.action-img img {
    border-radius: 48px;
}

.productive {
    background-color: #4E47FF20;
    width: 1140px;
    height: 306px;
    border-radius: 24px;
    padding: 50px 80px;
    text-align: center;
}

.Statistics {
    display: flex;
    justify-content: space-between;
}

.stat {
    text-align: center;
}

.stat h2 {
    margin: 0;
}

.stat p {
    margin: 0;
}